* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #343232;
    margin: 0;
    padding: 0;
}

.headerSection {
    padding-top: 1.8%;
    background-color: #0583D2;
    padding-bottom: 5%;
}

.mainSection{
    background-color: #f6f3ec;
    height: 1050px;
}

/* Navigation Bar */
.row-Content {
    display:flex;
}

.navbar {
display: flex;
position: relative;
justify-content: center;
align-items: center;
background-color: #16558F;
color: white;
}

    .navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    }

    .navbar-links li{
    list-style: none;
    }

    .navbar-links li a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    }

    .navbar-links li:hover {
    background-color: #16678f;
    }


.brand-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: .5rem;
    padding-right: 2rem
}

.brand-logo {
    padding-top: 0.3rem;
    padding-right: 0.7rem;
    height: 3.5rem;
}

.toggle-button {
position: absolute;
align-items: middle;
top: 1rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.toggle-button .bar{
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}

@media (max-width: 600px) {

.toggle-button {
    display: flex;
}

.row-Content {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.navbar {
    justify-content: center;
    flex-direction: column;
}

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Header */

.header-flex{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    margin: .5rem;
    padding-top: 1rem;
    color: white;
}

.header-description{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin: .5rem;
    color: white;
}

@media (max-width: 950px) {
    .header-title{
        font-size: 2.5rem;
    }
    
    .header-description{
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        margin: .5rem;
        color: white;
    }
    
}

@media (max-width: 650px) {
    .header-title{
        font-size: 2rem;
    }
    
    .header-description{
        font-size: 1rem;
    }
    
}

@media (max-width: 500px) {
    .header-title{
        font-size: 1.5rem;
    }
    
    .header-description{
        font-size: 0.85rem;
    }
    
}

@media (max-width: 375px) {
    .header-title{
        font-size: 1.15rem;
    }
    
    .header-description{
        font-size: 0.75rem;
    }
    
}

@media (max-width: 300px) {
    .header-title{
        font-size: 0.90rem;
    }
    
    .header-description{
        font-size: 0.65rem;
    }
    
}

/* Buttons */
.button-flex{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

button {
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    padding: 7.5px 30px;
    min-width: 200px;
    min-height: 50px;
}

.inviteButton {
    background-color: #6abe30;
    opacity: 1;
    transition: 0.3s;
    
}

    .inviteButton:hover{
        opacity: 0.9;
    }

    .inviteButton:active{
        background-color: #82c544;
    }


.githubButton {
    background-color: #343232;
    opacity: 1;
    transition: 0.3s;
    
}

    .githubButton:hover{
        opacity: 0.9;
    }

    .githubButton:active{
        background-color: #3c3a3a;;
    }

@media (max-width: 650px) {    
    button {
        font-size: 17.25px;
        font-family: 'Lato', sans-serif;
        padding: 7.5px 30px;
        min-width: 150px;
        min-height: 37.5px;
    }

    .button-flex{
        padding-top: 10px;
    }
    
}

@media (max-width: 500px) {    
    button {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        padding: 7.5px 30px;
        min-width: 125px;
        min-height: 31.25px;
    }

    .button-flex{
        gap: 5px;
    }
    
}

@media (max-width: 300px) {    
    .button-flex{
        flex-direction: column;
        padding-top: 10px;
        gap: 10px;
    }
    
}

/* Wave */
.wave svg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.wave .shape-fill {
    fill: #0583D2;
}