* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #16558F;
}

.headerSection {
    background-color: #0583D2;
}

.mainSection{
    background-color: #f6f3ec;
    height: auto;
    padding-bottom: 100px;
}

/* Navigation Bar */
.row-Content {
    display:flex;
}

.navbar {
display: flex;
position: relative;
justify-content: center;
align-items: center;
background-color: #16558F;
color: white;
}

    .navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    }

    .navbar-links li{
    list-style: none;
    }

    .navbar-links li a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    }

    .navbar-links li:hover {
    background-color: #16678f;
    }


.brand-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: .5rem;
    padding-right: 2rem
}

.brand-logo {
    padding-top: 0.3rem;
    padding-right: 0.7rem;
    height: 3.5rem;
}

.toggle-button {
position: absolute;
align-items: middle;
top: 1rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.toggle-button .bar{
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}

@media (max-width: 600px) {

.toggle-button {
    display: flex;
}

.row-Content {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.navbar {
    justify-content: center;
    flex-direction: column;
}

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Header */

.header-flex{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    margin: .5rem;
    padding-top: 3rem;
    color: white;
    text-align: center;
}

.header-description{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin: .5rem;
    color: white;
    text-align: center;
}

@media (max-width: 950px) {
    .header-title{
        font-size: 2.5rem;
    }
    
    .header-description{
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        margin: .5rem;
        color: white;
    }
    
}

@media (max-width: 650px) {
    .header-title{
        font-size: 2.25rem;
    }
    
    .header-description{
        font-size: 1.5rem;
    }
    
}

@media (max-width: 550px) {
    .header-title{
        font-size: 2rem;
        padding-top: 2.25rem;
    }
    
    .header-description{
        font-size: 1.25rem;
    }
    
}

@media (max-width: 500px) {
    .header-title{
        font-size: 1.75rem;
        padding-top: 2.25rem;
    }
    
    .header-description{
        font-size: 1.15rem;
    }
    
}

@media (max-width: 425px) {
    .header-title{
        font-size: 1.5rem;
        padding-top: 2.25rem;
    }
    
    .header-description{
        font-size: 1rem;
    }
    
}

@media (max-width: 375px) {
    .header-title{
        font-size: 1.35rem;
        padding-top: 1.75rem;
    }
    
    .header-description{
        font-size: .95rem;
        margin: .25rem;
    }
    
}

@media (max-width: 330px) {
    .header-title{
        font-size: 1.15rem;
        padding-top: 1.5rem;
    }
    
    .header-description{
        font-size: 0.85rem;
    }
    
}

@media (max-width: 285px) {
    .header-title{
        font-size: 1rem;
        padding-top: 1.5rem;
    }
    
    .header-description{
        font-size: 0.75rem;
    }
    
}

/* Buttons */
.button-flex{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
    gap: 20px;
}

button {
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    padding: 7.5px 30px;
    min-width: 200px;
    min-height: 50px;
}

.inviteButton {
    background-color: #6abe30;
    opacity: 1;
    transition: 0.3s;
    
}

    .inviteButton:hover{
        opacity: 0.9;
    }

    .inviteButton:active{
        background-color: #82c544;
    }


.githubButton {
    background-color: #343232;
    opacity: 1;
    transition: 0.3s;
    
}

    .githubButton:hover{
        opacity: 0.9;
    }

    .githubButton:active{
        background-color: #3c3a3a;;
    }

@media (max-width: 650px) {    
    button {
        font-size: 17.25px;
        font-family: 'Lato', sans-serif;
        padding: 7.5px 30px;
        min-width: 150px;
        min-height: 37.5px;
    }

    .button-flex{
        padding-top: 10px;
        padding-bottom: 75px;
    }
    
}

@media (max-width: 500px) {    
    button {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        padding: 7.5px 30px;
        min-width: 125px;
        min-height: 31.25px;
    }

    .button-flex{
        gap: 5px;
    }
    
}

@media (max-width: 300px) {    
    .button-flex{
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 55px;
        gap: 10px;
    }
    
}

/* Wave */

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -1px;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: 100%;
    height: 77px;
}

.wave .shape-fill {
    fill: #f6f3ec;
}

@media (max-width: 650px){
    .wave svg{
        height: 50px;
    }
}

@media (max-width: 300px){
    .wave svg{
        height: 35px;
    }
}

/* Main Images */

.mainImages {
    height: 25rem;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

.main-flex{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainImage-flex{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 25px;
    gap: 5rem;
}

.mainImageReverse-flex{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 25px;
    gap: 5rem;
}

.mainText-flex{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}

.mainTitle{

    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: #0583D2;
    text-align: center;
}

.mainDescription{
    font-family: 'Lato', sans-serif;
    font-size: 2.35rem;
    color: #0583D2;
    text-align: center;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@media (max-width: 1475px){
    .mainImages {
        height: 21.5rem;
    }

    .mainTitle{
        font-size: 4rem;
    }

    .mainDescription{
        font-size: 2rem;
    }
}

@media (max-width: 1250px){
    .mainImages {
        height: 17.5rem;
    }

    .mainTitle{
        font-size: 3.5rem;
    }

    .mainDescription{
        font-size: 1.5rem;
    }
}

@media (max-width: 1025px){
    .mainImage-flex{
        flex-direction: column;
        padding-top: 10px;
        gap: 3rem;
    }

    .mainImageReverse-flex{
        flex-direction: column;
        padding-top: 10px;
        gap: 3rem;
    }

    .mainImages {
        height: 16.5rem;
    }

    .mainTitle{
        font-size: 4rem;
    }

    .mainDescription{
        font-size: 1.75rem;
    }
}

@media (max-width: 775px){
    .mainImages {
        height: 15.5rem;
    }

    .mainTitle{
        font-size: 3.5rem;
    }

    .mainDescription{
        font-size: 1.55rem;
    }
}

@media (max-width: 650px){
    .mainTitle{
        font-size: 3.25rem;
    }

    .mainDescription{
        font-size: 1.35rem;
    }
}

@media (max-width: 575px){
    .mainImages {
        height: 13.5rem;
    }

    .mainTitle{
        font-size: 2.75rem;
    }

    .mainDescription{
        font-size: 1.15rem;
    }
}

@media (max-width: 500px){
    .mainImages {
        height: 11.5rem;
    }

    .mainTitle{
        font-size: 2.25rem;
    }

    .mainDescription{
        font-size: 1rem;
    }
}

@media (max-width: 425px){
    .mainTitle{
        font-size: 2rem;
    }

    .mainDescription{
        font-size: 0.85rem;
    }
}

@media (max-width: 365px){
    .mainImages {
        height: 10rem;
    }

    .mainTitle{
        font-size: 1.85rem;
    }

    .mainDescription{
        font-size: 0.8rem;
    }
}

@media (max-width: 340px){
    .mainTitle{
        font-size: 1.65rem;
    }

    .mainDescription{
        font-size: 0.75rem;
    }
}

@media (max-width: 300px){
    .mainTitle{
        font-size: 1.5rem;
    }

    .mainDescription{
        font-size: 0.65rem;
    }
}

@media (max-width: 275px){
    .mainImages {
        height: 8.5rem;
    }

    .mainTitle{
        font-size: 1.4rem;
    }

    .mainDescription{
        font-size: 0.5rem;
    }
}