*{
  padding:0;
  margin:0;
  text-decoration:none;
  list-style:none;
  box-sizing:border-box;
}

label.logo{
  color:white;
  font-size:40px;
  line-height: 80px;
  font-weight:bold;
  margin:10px;
}

body {
  font-family: 'Poppins', sans-serif;
}

img{
  width: 100%;
  height:auto;
}


.dino img{
  position:fixed;
  margin: 100px;
  bottom:100px;
  left: 200px;
  width:150px;
  border-radius:50%;
  box-shadow: 5px 7px 50px #1f1f1f;
}

nav{
  background:#3b63f5;
  height:65px;
  width:100%;
}

nav ul{
  float:right;
  margin-right:50px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  color:black;
}

nav ul li a{
  color:white;
}


/* All for the Logo bounce animation. */

.logoAnimation {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/* ------------------------------------------ */